@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  min-height: 90vh;
  position: relative;
  background-color: silver;
}
footer{
    height: 10vh;
    background-color: #78909c;
    position: absolute;
    color: white;
    bottom: 0;
    top: 90%;
    display:flex;
    align-items:center;
}

.mat-menu-panel {
	padding: 0px 10px 10px 0px;
}
button.mat-menu-item {
	padding-right: 0px;
	margin-bottom: -10px;
}
form.pink {
	background-color: pink !important;
}
form.yellow {
	background-color: yellow !important;
}
form.red {
	background-color: red !important;
}
form.blue {
	background-color: blue !important;
}

.spinner {
	border: 16px solid blue;
	border-top: 16px solid #337AB7;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 700ms linear infinite;
	top: 50%;
	left: 50%;
	position: absolute;
}

@keyframes spin {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(-360deg) }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 1em 0;
    padding: 0; 
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
